# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/src/main/java/screen/AT2ACCSU0071/
/.idea/workspace.xml
target/classes/IPS-20160531-0412461-000001_REPRO_1886019379_041246-000001.csv
target/classes/screen/AT2ACCCO0052/
target/classes/screen/AT2ACCDI0003/
target/classes/screen/AT2ACCOP0005/
target/classes/screen/AT2ACCOP0024/
target/classes/screen/AT2ACCOP0025/
target/classes/screen/AT2ACCSU0071/
target/classes/screen/AT2ACCSU0072/
target/classes/screen/AT2ACTSU0037/
target/classes/screen/AT2BOOSA0005/
target/classes/screen/AT2BOOSA1002/
target/classes/screen/AT2BOOSA1003/
target/classes/screen/AT2MDMSP0037/
target/classes/screen/AT2MSCSU0007/
target/classes/screen/AT2TRFSU0005/
target/classes/screen/AT2TRFSU0006/
target/classes/screen/AT2TRFSU0011/
target/generated-sources/
target/generated-test-sources/
/src/main/java/screen/AT2ACCSU0072/
/.idea/artifacts/ProjectAutotest_jar3.xml
.idea/dictionaries/
target/classes/screen/AT2ACCCO0053/
target/classes/screen/AT2TRFSU0004/
